
@font-face
{
 font-family:"David";
 src: url("Images/font/DavidLibre-Medium.ttf")
}
body
{
    background-color: #e0ebeb;
    font-family:"David";
    color: #00cc99;
}

.container
{
    position: relative;
    width: 500px;
    height: 300px;
}

.overlay
{
    background-color: white;
    width: 100%;
    height: 100;
    margin-left: 30%;
    margin-top: 20%;
    display: flex;
    flex-direction: raw;
    opacity: 1;
    transition: 1s;  
    position: absolute;  
}

.container:hover .overlay
{
    opacity : 0;
    
   
}
.container:hover .pencil
{
    opacity:1;
}
img
{
    width: 250px;
    height:300px;
    
}

.coordonates
{
   
   padding-top: 0px; 
}

h1
{
    font-size: 50px;
    padding-left: 50px; 
}

.logo
{
    float: left;
    width: 20px;
    height: 20px;
    padding-left: 35px; 
}

.pencil
{
    width: 500px;
    height: 300px;
    margin-left: 30%;
    margin-top: 20%;
    opacity:0;
    position: absolute;
}

p
{
    padding-left: 65px;
}